*{
	padding: 0;
	margin: 0;
}

body{
	background: #000;
	color: #fff;
    font-family: 'Poppins', sans-serif;
}

.principal{
	grid-area: header;
	background-color: #8aedef;
	display: flex;
	justify-content: space-between;
    padding: 20px;
}
